.row > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 10px;
  font-family: sans-serif;
}

body {
  background: #fafafa;
}

/* html.ha-modal-open {
  -ms-overflow-style: scrollbar;
  overflow: hidden;
  height: 100%;
}

body.ha-modal-open {
  overflow: auto!important;
  height: 100%;
} */

header {
  color: #3b3b3b;
}

.footer {
  width: 100%;
  background-color: #1b1b1b;
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 10px;
  font-weight: 600;
}